* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: cornflowerblue;
  position: relative;
}

.character {
  /* background-color: black; */
  image-rendering: pixelated;
  position: absolute;
  transition: top 250ms linear, left 250ms linear;
}

.obstacle {
  background-color: crimson;
  position: absolute;
}
